{% load static %}
<!doctype html>

<html lang="ru">
  <head>
    {% include "staff/_meta_tags.html" %}
    
    <title>
      {% block title %}ЦЭБУР-ГАРД{% endblock %}
    </title>
    
    {% block stylesheets %}
    <!-- Bootstrap CSS -->
      <!--link rel="stylesheet" href="{% static 'staff/css/bootstrap.min.css' %}" type = "text/css"/-->
      <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" type = "text/css"/>
      <!-- Custom styles for this app -->
      <link rel="stylesheet" href="{% static 'staff/css/staff_extras.css' %}" type = "text/css"/>
    {% endblock %}

    {% include "staff/_icon_link.html" %}
  </head>

  <body class="body" style="background-color:#f6f6f6" {% block body_id %}{% endblock %}>

    
    {% block navigation %}
      {% include "staff/_navigation.html" %}
    {% endblock %}
    
    <div class="container-fluid" >
      {% block content %}{% endblock %}
    </div>

    {% block javascript %}
      <!-- Bootstrap core JavaScript
        ================================================== -->
      <script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
      <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
      <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% endblock %}

  </body>

</html>