{% extends "staff/__l_left_sidebar.html" %}
{% load staff_extras_tags %}

{% block title %}Список сотрудников | {{ block.super }}{% endblock %}

{% block navigation %}
  {% include "staff/_navigation.html" with current="employees" %}
{% endblock %}

{% block main_col %}

  <h2>Список сотрудников</h2>
	<br>

	{% if employee_list %}

		<div class="table-responsive-sm">
			<table class="table table-hover table-sm">
			  <!--thead style="background-color: #204B99;color:white;"-->
			  <thead class="thead-dark">
				<tr>
				  <th scope="col" style="display:none;">id</th>
				  <th scope="col">Сотрудники</th>
				  <th scope="col">Дата рождения</th>
				</tr>
			  </thead>
			  <tbody>
				{% for employee in employee_list %}
          <tr>
            <td style="display:none;">{% get_model_field_value employee "id" %}</td>
            <td>
              <a href="{{ employee.get_absolute_url }}">
              {{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }}
            </a>
            </td>
            <td>{{ employee.date_of_birth|date:'d.m.Y' }}</td>
          
          </tr>
				{% endfor %}
			  </tbody>
			</table>
		</div>
	{% else %}
		<p>Список сотрудников пуст</p>
	{% endif %}
  
{% endblock main_col %}

{% block side_col %}
  {% include "staff/_side_bar_emloyees.html" %}
{% endblock side_col %}
