{% extends "staff/__l_left_sidebar.html" %}
{% load staff_extras_tags %}

{% block title %}Информация о сотруднике | {{ block.super }}{% endblock %}

{% block navigation %}
  {% include "staff/_navigation.html" with current="employees" %}
{% endblock %}

{% block main_col %}
  <h2>Информация о сотруднике</h2>
  <br>
	<br>

  {% if employee %}

  <div class="row">
    <div class="col-sm-8">

      <div class="row">
        <div class="col-sm-3">
          <span><strong>ФИО: </strong></span>
        </div>
        <div class="col-sm">
          {{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name|default:"" }}
        </div>
      </div>
      <hr>

      
      <div class="row">
        <div class="col-sm-3">
          <strong>Дата рождения: </strong>
        </div>
        <div class="col-sm">
          {{ employee.date_of_birth|date:'d.m.Y'|default:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Номер удостоверения: </strong>
        </div>
        <div class="col-sm">
          {{ employee.license_number|default_if_none:"--"|default:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Удостоверение действительно до: </strong>
        </div>
        <div class="col-sm">
          {{ employee.license_valid_thru|default_if_none:"--"|default:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Номер телефона: </strong>
        </div>
        <div class="col-sm">
          {{ employee.phone_number|default_if_none:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Номер паспорта: </strong>
        </div>
        <div class="col-sm">
          {{ employee.passport_number|default_if_none:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Кем и когда выдан паспорт: </strong>
        </div>
        <div class="col-sm">
          {{ employee.passport_issued_by|default_if_none:"кем выдан - неизвестно" }}, 
          {% if employee.passport_issue_date %}{{ employee.passport_issue_date|date:'d.m.Y' }}{% else %}когда выдан - неизвестно{% endif %}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Адрес: </strong>
        </div>
        <div class="col-sm">
          {{ employee.city|default_if_none:"город неизвестен" }}, 
          {{ employee.street|default_if_none:"улица неизвестна" }}, 
          {{ employee.building|default_if_none:"номер дома неизвестен" }}, 
          {% if employee.wing %}{{ employee.wing }}, {% endif %}
          {{ employee.apartment|default_if_none:"квартира неизвестна" }}
        
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Руководитель: </strong>
        </div>
        <div class="col-sm">
          {% if employee.chief %}
            <a href="{{ employee.chief.get_absolute_url }}">
              {{ employee.chief.last_name }} {{ employee.chief.first_name }} {{ employee.chief.middle_name }}
            </a>
          {% else %}
            <div>не назначен</div>
          {% endif %}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <!--a class="btn btn-primary" href="{% url 'employee-update' employee.id %}" role="button">Редактировать</a>
          <a class="btn btn-outline-secondary" href="{% url 'employees' %}" role="button">Отмена</a-->
        </div>
        <div class="col-sm text-right">
          <a class="btn btn-outline-secondary" href="{% url 'employees' %}" role="button">Отмена</a>
          <a class="btn btn-primary" href="{% url 'employee-update' employee.id %}" role="button">Редактировать</a>
        </div>
      </div>
      <br>


    </div>
  </div>
  {% else %}
    <p>Информация о сотруднике отсутствует</p>
  {% endif %}
  
{% endblock main_col %}

{% block side_col %}
  {% include "staff/_side_bar_emloyees.html" %}
{% endblock side_col %}

