{% extends "staff/__l_left_sidebar.html" %}

{% block title %}Главная | {{ block.super }}{% endblock %}


{% block navigation %}
  {% include "staff/_navigation.html" with current="home" %}
{% endblock %}

{% block main_col %}

  <h2>Гавная страница</h2>

  <p>
    {% if welcome_text %}
      {{ welcome_text }}
    {% else %}
      Приветствие не определено
    {% endif %}
  </p>
  <br>
    
  <h3>Статистика</h3>
  <p>Вы заходили на эту страницу {{ num_visits }} {% if num_visits == 1 or num_visits >= 5 %}раз{% else %}раза{% endif %}.</p>
    
{% endblock main_col %}

{% block side_col %}

{% endblock side_col %}