{% extends "staff/__base.html" %}
{% load staff_extras %}

{% block title %}
<title>Список руководителей</title>
{% endblock %}

{% block body_id %}id="chiefs-page-id"{% endblock %}

{% comment %}
{% block nav_active_employees %}active{% endblock %}
{% endcomment %}


{% block sidebar %}
<div class="well bs-sidebar" id="sidebar">
  <nav class="nav flex-column">
    <!--a class="nav-link" data-toggle="pill" href="{% url 'employees' %}">Список сотрудников</a-->
    <a class="nav-link" href="{% url 'employees' %}">Сотрудники</a>
    <a class="nav-link active" href="{% url 'chiefs' %}">Руководители</a>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Добавить сотрудника</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'employee-create' %}">рядового сотрудника</a>
      <a class="dropdown-item" href="{% url 'chief-create' %}">руководителя</a>
    </div>

  </nav>
</div>
<br>

{% endblock %}

{% block content %}

	<h2>Список руководителей</h2>
	<br>

	{% if chief_list %}

		<div class="table-responsive-sm">
			<table class="table table-hover table-sm">
			  <!--thead style="background-color: #204B99;color:white;"-->
			  <thead class="thead-dark">
				<tr>
				  <th scope="col" style="display:none;">id</th>
				  <th scope="col" >Руководители</th>
				  <th scope="col" >Дата рождения</th>
				</tr>
			  </thead>
			  <tbody>
				{% for chief in chief_list %}
				
				<tr>
				  <td style="display:none;">{% get_model_field_value chief "id" %}</td>
				  <td>
				    <a href="{{ chief.get_absolute_url }}">
					  {{ chief.last_name }} {{ chief.first_name }} {{ chief.middle_name }}
					</a>
				  </td>
				  <td>{{ chief.date_of_birth|date:'d.m.Y' }}</td>
				
				</tr>
				{% endfor %}
			  </tbody>
			</table>
		</div>

		
	{% else %}
		<p>Список руководителей пуст</p>
	{% endif %}
	

	
	
{% endblock %}
