{% extends "staff/__base.html" %}
{% load staff_extras %}

{% block title %}
<title>Информация о руководителе</title>
{% endblock %}

{% block body_id %}id="employees-page-id"{% endblock %}

{% comment %}
{% block nav_active_employees %}active{% endblock %}
{% endcomment %}

{% block sidebar %}
<div class="well bs-sidebar" id="sidebar" >
  <nav class="nav flex-column">
    <!--a class="nav-link" data-toggle="pill" href="{% url 'employees' %}">Список сотрудников</a-->
    <a class="nav-link active"  href="{% url 'employees' %}">Сотрудники</a>
    <a class="nav-link" href="{% url 'chiefs' %}">Руководители</a>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Добавить сотрудника</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'employee-create' %}">рядового сотрудника</a>
      <a class="dropdown-item" href="#">руководителя</a>
    </div>

  </nav>
</div>
<br>

{% endblock %}

{% block content %}

  <h2>Информация о руководителе</h2>
  <br>
	<br>

  {% if chief %}

  <div class="row">
    <div class="col-sm-8">

      <div class="row">
        <div class="col-sm-3">
          <span><strong>ФИО: </strong></span>
        </div>
        <div class="col-sm">
          {{ chief.last_name }} {{ chief.first_name }} {{ chief.middle_name|default:"" }}
        </div>
      </div>
      <hr>

      
      <div class="row">
        <div class="col-sm-3">
          <strong>Дата рождения: </strong>
        </div>
        <div class="col-sm">
          {{ chief.date_of_birth|date:'d.m.Y'|default:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Номер удостоверения: </strong>
        </div>
        <div class="col-sm">
          {{ chief.license_number|default_if_none:"--"|default:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Удостоверение действительно до: </strong>
        </div>
        <div class="col-sm">
          {{ chief.license_valid_thru|default_if_none:"--"|default:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Номер телефона: </strong>
        </div>
        <div class="col-sm">
          {{ chief.phone_number|default_if_none:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Номер паспорта: </strong>
        </div>
        <div class="col-sm">
          {{ chief.passport_number|default_if_none:"--" }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Кем и когда выдан паспорт: </strong>
        </div>
        <div class="col-sm">
          {{ chief.passport_issued_by|default_if_none:"кем выдан - неизвестно" }}, 
          {% if chief.passport_issue_date %}{{ chief.passport_issue_date|date:'d.m.Y' }}{% else %}когда выдан - неизвестно{% endif %}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Адрес: </strong>
        </div>
        <div class="col-sm">
          {{ chief.city|default_if_none:"город неизвестен" }}, 
          {{ chief.street|default_if_none:"улица неизвестна" }}, 
          {{ chief.building|default_if_none:"номер дома неизвестен" }}, 
          {% if chief.wing %}{{ chief.wing }}, {% endif %}
          {{ chief.apartment|default_if_none:"квартира неизвестна" }}
        
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-3">
          <strong>Подчиненные: </strong>
        </div>
        <div class="col-sm">
          {% for employee in chief.employee_set.all %}
            <a href="{{ employee.get_absolute_url }}">
              {{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }}
            </a>
            <br>
          {% endfor %}
        </div>
      </div>
      <hr>
      
      
      
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm text-right">
          <a class="btn btn-outline-secondary" href="{% url 'chiefs' %}" role="button">Отмена</a>
          <a class="btn btn-primary" href="{% url 'chief-update' chief.id %}" role="button">Редактировать</a>
        </div>
      </div>
      <br>


    </div>
  </div>
  {% else %}
    <p>Информация о руководителе отсутствует</p>
  {% endif %}
	

	
	
{% endblock %}
