{% extends "staff/__base.html" %}
{% load staff_extras %}

{% block title %}
<title>Список сотрудников</title>
{% endblock %}

{% block body_id %}id="employees-page-id"{% endblock %}

{% comment %}
{% block nav_active_employees %}active{% endblock %}
{% endcomment %}

{% comment %}
{% block scripts %}

$(document).ready(function(){
	$("tr").click(function(){
	var cid = $(this).find("td:eq(0)").text();
	alert(cid);
	//window.location = "{% url 'index' %}";
	});
});

{% endblock %}
{% endcomment %}

{% block sidebar %}
<div class="well bs-sidebar" id="sidebar">
  <nav class="nav flex-column">
    <!--a class="nav-link" data-toggle="pill" href="{% url 'employees' %}">Список сотрудников</a-->
    <a class="nav-link active" href="{% url 'employees' %}">Сотрудники</a>
    <a class="nav-link" href="{% url 'chiefs' %}">Руководители</a>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Добавить сотрудника</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'employee-create' %}">рядового сотрудника</a>
      <a class="dropdown-item" href="{% url 'chief-create' %}">руководителя</a>
    </div>

  </nav>
</div>
<br>

<!-- p>
  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Добавить сотрудника
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div><a href="#" margin-left="10">рядового сотрудника</a></div>
  <div><a href="#">начальника охраны</a></div>
</div>

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#204B99">
    Добавить сотрудника
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">рядового сотрудника</a>
    <a class="dropdown-item" href="#">начальника охраны</a>
  </div>
</div-->

{% endblock %}

{% block content %}

	<h2>Список сотрудников</h2>
	<br>

	{% if employee_list %}
	
		<!--ul>
			{% for employee in employee_list %}
			<li>
			{{ employee.last_name }} {{ employee.first_name }}, д.р.: {{ employee.date_of_birth|date:'d.m.Y' }}
			</li>
			{% endfor %}
		</ul-->
		
		<div class="table-responsive-sm">
			<table class="table table-hover table-sm">
			  <!--thead style="background-color: #204B99;color:white;"-->
			  <thead class="thead-dark">
				<tr>
				  <!-- th scope="col" style="display:none;">{{ field_list.0.verbose_name }}</th>
				  <th scope="col">{{ field_list.1.verbose_name }}</th-->
				  <th scope="col" style="display:none;">id</th>
				  <th scope="col" >Сотрудники</th>
				  <th scope="col" >Дата рождения</th>
				  <!--
				  {% for field in field_list %}
				    {% if field.verbose_name == "ID" %}
					  <th scope="col" style="display:none;">{{ field.verbose_name }}</th>
					{% else %}
				      <th scope="col">{{ field.verbose_name }}</th>
					{% endif %}
				  {% endfor %} -->
				  <!--th scope="col">#</th>
				  <th scope="col">First</th>
				  <th scope="col">Last</th>
				  <th scope="col">Handle</th-->
				</tr>
			  </thead>
			  <tbody>
				{% for employee in employee_list %}
				
				<tr>
				  <td style="display:none;">{% get_model_field_value employee "id" %}</td>
				  <td>
				    <a href="{{ employee.get_absolute_url }}">
					  {{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }}
					</a>
				  </td>
				  <td>{{ employee.date_of_birth|date:'d.m.Y' }}</td>
				
				</tr>
				{% endfor %}
			  </tbody>
			</table>
		</div>
		
		<!-- div class="table-responsive-sm">
			<table class="table table-hover table-sm">
			  <thead class="thead-dark">
				<tr class="row">
				  <th scope="col" class="col" style="display:none;">id</th>
				  <th scope="col" class="col-md-2">Сотрудник</th>
				  <th scope="col" class="col">Дата рождения</th>

				</tr>
			  </thead>
			  <tbody>
				<tr class="row">
				  <td class="col" style="display:none;">1</td>
				  <td class="col-md-2">Иванов Иван Иванович</td>
				  <td class="col">01.01.2001</td>
				</tr>
			  </tbody>
			</table>
		</div-->
		
		
	{% else %}
		<p>Список сотрудников пуст</p>
	{% endif %}
	

	
	
{% endblock %}
