<!doctype html>
<html lang="ru">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	{% load staticfiles %}
	<!--link rel="stylesheet" href="{% static 'staff/css/bootstrap.min.css' %}" type = "text/css"/-->
	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" type = "text/css"/>
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'staff/css/my_custom.css' %}" />

	<link rel="shortcut icon" href="{% static 'staff/img/myIcon2.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'staff/img/myIcon2.ico' %}" type="image/x-icon">

	{% block title %}<title>ЦЭБУР-ГАРД</title>{% endblock %}
	
</head>

<body class="body" style="background-color:#f6f6f6">

	<!-- The upper navbar -->
	<!-- nav class="navbar navbar-expand-sm navbar-dark bg-dark"-->
	<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #204B99;">
		<a class="navbar-brand" href="{% url 'index' %}">
			<img src="{% static 'staff/img/logo.png' %}" class="responsive-img" style='max-height:100px;border:0;' alt="A snake logo of a company"> 
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item {% block nav_active_home %}{% endblock %}">
					<a class="nav-link" href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item {% block nav_active_employees %}{% endblock %}">
					<a class="nav-link" href="{% url 'employees' %}">Личный состав</a>
				</li>
				<li class="nav-item {% block nav_active_bases %}{% endblock %}">
					<a class="nav-link" href="{% url 'index' %}">Объекты</a>
				</li>
				<li class="nav-item {% block nav_active_weapon %}{% endblock %}">
					<a class="nav-link" href="{% url 'index' %}">Оружие</a>
				</li>
				<li class="nav-item {% block nav_active_contracts %}{% endblock %}">
					<a class="nav-link" href="{% url 'index' %}">Договоры</a>
				</li>
				<!--li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Выпадающий список
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					  <a class="dropdown-item" href="#">Выбор №1</a>
					  <a class="dropdown-item" href="#">Выбор №2</a>
					  <a class="dropdown-item" href="#">Что-то еще</a>
					</div>
				 </li-->
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
			</form>
		</div>
	  
	</nav>


	<div class="container-fluid" >
		<!--div class="row"style="background-color: #204B99">
			<div class="col-sm-12">
				<a href="{% url 'index' %}">
					<!--border:0; is added to img style to prevent IE9 (and earlier) from displaying a border around the image (when the image is a link). - ->
					<img src="{% static 'staff/img/logo.png' %}" class="responsive-img" style='max-height:100px;border:0;' alt="A snake logo of a company"> 
				</a>
			</div>
			  <!--div class="col-sm-11" style="color: #FFFFFF;">
				  <br>
				  <center>
				  <h3>ЦЭБУР-ГАРД</h3>
				  <h4>охранное предприятие</h4>
				  </center>
			  </div- ->
		</div-->

		<div class="row">
			<!-- The sidebar to the left -->
			<div class="col-sm-2">
			<br>
				{% block sidebar %}
				{% comment %}
				<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
					<nav class="nav flex-column nav-pills">
						<!--a class="nav-link" data-toggle="pill" href="{% url 'employees' %}">Список сотрудников</a-->
						<a class="nav-link" data-toggle="pill" href="#">Начальники охраны</a>
						<a class="nav-link" data-toggle="pill" href="#">Оружие</a>
					</nav>
				</div>
				{% endcomment %}
				{% endblock %}
			</div> <!--col-sm-2-->
			
			<!-- Main area -->
			<div class="col-sm-10">
		  
				<div class='container-fluid'>
					<br>
					{% block content %}{% endblock %}	
				</div>
			</div> <!--col-sm-10-->
		</div> <!--row-->
	</div>
	<!-- footer class="footer">
		<div class="container-fluid">
			<span><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></span>
		</div>
    </footer-->
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
	<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script>{% block scripts %}{% endblock %}</script>
    <!--script>
      $(document).ready(function() {
        $("#navbarNavDropdown .navbar-nav a").on("click", function(){
          $("#navbarNavDropdown .navbar-nav").find("li.active").removeClass("active");
          $(this).parent("li").addClass("active");
        });
      });
    </script-->
	
	<!--script src="{% static 'staff/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'staff/js/popper.min.js' %}"></script>
	<script src="{% static 'staff/js/bootstrap.min.js' %}"></script-->
</body>

</html>