<div class="well bs-sidebar" id="sidebar">
  <nav class="nav flex-column">
    <!--a class="nav-link" data-toggle="pill" href="{% url 'employees' %}">Список сотрудников</a-->
    <a class="nav-link" href="{% url 'employees' %}">Сотрудники</a>
    <a class="nav-link" href="{% url 'chiefs' %}">Руководители</a>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Добавить сотрудника</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'employee-create' %}">рядового сотрудника</a>
      <a class="dropdown-item" href="{% url 'chief-create' %}">руководителя</a>
    </div>

  </nav>
</div>