{% extends "staff/__base.html" %}
{% load staff_extras %}
{% load widget_tweaks %}

{% block title %}
<title>Добавить руководителя</title>
{% endblock %}

{% comment %}
{% block nav_active_employees %}active{% endblock %}
{% endcomment %}

{% block sidebar %}
<div class="well bs-sidebar" id="sidebar" >
  <nav class="nav flex-column">
    <!--a class="nav-link" data-toggle="pill" href="{% url 'employees' %}">Список сотрудников</a-->
    <a class="nav-link"  href="{% url 'employees' %}">Сотрудники</a>
    <a class="nav-link" href="{% url 'chiefs' %}">Руководители</a>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Добавить сотрудника</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'employee-create' %}">рядового сотрудника</a>
      <a class="dropdown-item" href="#">руководителя</a>
    </div>

  </nav>
</div>
<br>

{% endblock %}

{% block content %}

  <h2>Новый руководитель</h2>
    <br>
	<br>

  <form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend></legend>
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form.visible_fields %}
      <div class="form-group row">

        <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label text-right">
          {{ field.label }}
          {% if field.field.required %}
            <br>
            <small class="form-text text-muted">обязательное поле</small>
          {% endif %}
        </label>
      
        <div class="col-sm-6">
          {% if form.is_bound %}
            {% if field.errors %}
              {{ field|add_class:"form-control is-invalid" }}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {{ field|add_class:"form-control is-valid" }}
            {% endif %}
          {% else %}
            {% if field.help_text %}
              {% with field.id_for_label|addstr:"_helpBlock" as help_id %}
                {% render_field field class="form-control" aria-describedby=help_id %}
              {% endwith %}
            {% else %}
              {% render_field field class="form-control" %}
            {% endif %}
          {% endif %}
          
          {% if field.help_text %}
            <small id="{{ field.id_for_label }}_helpBlock" class="form-text text-muted">
              {{ field.help_text }}
            </small>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </fieldset>

  <div class="form-group row">
    <div class="col-sm-8 text-right">
      <a class="btn btn-outline-secondary" href="{% url 'chiefs' %}" role="button">Отмена</a>
      <input type="submit" class="btn btn-primary" value="Сохранить" />
    </div>
  </div-->
</form>
<br>
<br>
    <!--form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <br>

      <div class="row">
        <div class="col-sm-2">
          <input type="submit" class="btn btn-primary" value="Добавить сотрудника" />
        </div>
        <div class="col-sm">
          <a class="btn btn-secondary" href="{% url 'employees' %}" role="button">Отмена</a>
        </div>
      </div>

    </form-->

{% endblock %}
