{% extends "staff/__base.html" %}
{% load model_field_names %}

{% block title %}
<title>Информация о сотруднике</title>
{% endblock %}


{% block sidebar %}
<div class="well bs-sidebar" id="sidebar" >
  <nav class="nav flex-column">
    <!--a class="nav-link" data-toggle="pill" href="{% url 'employees' %}">Список сотрудников</a-->
    <a class="nav-link active"  href="{% url 'employees' %}">Сотрудники</a>
    <a class="nav-link" href="#">Начальники охраны</a>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Добавить сотрудника</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'employee-create' %}">рядового сотрудника</a>
      <a class="dropdown-item" href="#">начальника охраны</a>
    </div>

  </nav>
</div>
<br>

{% endblock %}

{% block content %}

  <h2>Редактировать данные сотрудника</h2>
    <br>
	<br>

    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <br>

      <div class="row">
        <div class="col-sm-2">
          <input type="submit" class="btn btn-primary" value="Сохранить" />
        </div>
        <div class="col-sm">
          <a class="btn btn-secondary" href="{% url 'employees' %}" role="button">Отмена</a>
        </div>
      </div>

    </form>

{% endblock %}
