{% extends "staff/__l_left_sidebar.html" %}
{% load staff_extras_tags %}
{% load widget_tweaks %}

{% block title %}Редактировать данные сотрудника | {{ block.super }}{% endblock %}

{% block navigation %}
  {% include "staff/_navigation.html" with current="employees" %}
{% endblock %}

{% block main_col %}

<h2>Редактировать данные сотрудника</h2>
<br>
<br>

<!-- Horizontal form -->
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend></legend>
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form.visible_fields %}
      <div class="form-group row">

        <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label text-right">
          {{ field.label }}
          {% if field.field.required %}
            <br>
            <small class="form-text text-muted">обязательное поле</small>
          {% endif %}
        </label>
      
        <div class="col-sm-6">
          {% if form.is_bound %}
            {% if field.errors %}
              {{ field|add_class:"form-control is-invalid" }}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {{ field|add_class:"form-control is-valid" }}
            {% endif %}
          {% else %}
            {% if field.help_text %}
              {% with field.id_for_label|addstr:"_helpBlock" as help_id %}
                {% render_field field class="form-control" aria-describedby=help_id %}
              {% endwith %}
            {% else %}
              {% render_field field class="form-control" %}
            {% endif %}
          {% endif %}
          
          {% if field.help_text %}
            <small id="{{ field.id_for_label }}_helpBlock" class="form-text text-muted">
              {{ field.help_text }}
            </small>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </fieldset>

  <div class="form-group row">
    <div class="col-sm-8 text-right">
      <!-- When Cancel is pressed - go back to employee list -->
      <!--a class="btn btn-outline-secondary" href="{% url 'employees' %}" role="button">Отмена</a-->
      <!-- When Cancel is pressed - go back to employee detail -->
      <a class="btn btn-outline-secondary" href="{{ employee.get_absolute_url }}" role="button">Отмена</a>
      <input type="submit" class="btn btn-primary" value="Сохранить" />
    </div>
  </div-->
</form>
<br>
<br>
  
{% endblock main_col %}

{% block side_col %}
  {% include "staff/_side_bar_emloyees.html" %}
{% endblock side_col %}
